<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <header>
        <img src="../storage/img/vestido-01.jpg" alt="vestido-mujer">
        <div class="img__btns">
            <a href="#"><img src="../storage/img/arrow-left.png" alt=""></a>
            <a href="#"><img src="../storage/img/heart-full-black.png" alt=""></a>
        </div>
    </header>
    <main>
        <section class="product__info">
            <div class="product__title">
                <h1>Blue King Dress</h1>
                <div class="product__score">
                    <img src="../storage/img/star.png" alt="">
                    <label>5.0</label>
                    <p>(7.932 reviews)</p>
                </div>
            </div>
            <div class="product__amount">
                <a href="#"><img src="../storage/img/minus.png" alt="minus-icon"></a>
                <label>1</label>
                <a href="#"><img src="../storage/img/add.png" alt="plus-icon"></a>
            </div>
        </section>
        <section class="product__description">
            <details>
                <summary>Its simple and elegant shape makes it perfect for those of you who like minimalist clothes.  It seamlessly blends comfort </summary>
                <p>with style, offering a versatile piece that can be dressed up or down.</p>
            </details>
        </section>
        <hr>
        <section class="product__details">
            <div class="product__size">
                <h6>Choose Size</h6>
                <div class="sizes">
                    <a href="#">S</a>
                    <a href="#">M</a>
                    <a href="#">L</a>
                    <a href="#">XL</a>
                </div>
            </div>
            <div class="product__color">
                <h6>Color</h6>
                <div class="colors">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        </section>
        <section class="product__buy">
            <a href="#">
                <img src="../storage/img/shopping-cart.png" alt="">
                <p>Add to Cart | $162.99</p>
                <del>$190.99</del>
            </a>
        </section>
    </main>
</body>
</html>