<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="../storage/img/card.png" type="image/png"> Agregar imagen para el navegador -->
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <div class="header__title">
            <h1>Hello, Welcome 👋</h1>
            <h3>Sneyder Rueda</h3>
        </div>
        <img src="../storage/img/profile-photo.jpg" alt="Profile-photo"> <!-- Centrar la foto -->
    </header>
    <nav class="nav__search">
        <form class="form__search" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search" placeholder="Search clothes...">
            </div>
            <div class="input__filter">
                <input type="submit" value="">
            </div>
        </form>
        <ul class="nav__category">
            <li class="select"><a href="#">All Items</a></li>
            <li><a href="#"><img src="../storage/img/dress.png" alt="Dress">Dress</a></li>
            <li><a href="#"><img src="../storage/img/tshirt.png" alt="T-Shirt">T-Shirt</a></li>
            <li><a href="#"><img src="../storage/img/jeans.png" alt="Jean">Jeans</a></li>
        </ul>
    </nav>
    <main>
        <section class="section__products">
            <article class="article__contain">
                <a href="#"><img src="../storage/img/camisa-h-01.jpg"></a>
                <!-- Posible code para el corazon de favoritos -->
                <!-- <div>
                    <a href="#"><img src="../storage/img/camisa-h-01.jpg"></a>
                    <div>
                        <img src="../storage/img/heart.png" alt="Heart">
                    </div>
                </div> -->
                <div class="div__info">
                    <strong>Basic White T-Shirt</strong>
                    <p>T-Shirt modern</p>
                </div>
                <div class="div__value">
                    <strong>$212.99</strong>
                    <div class="div__score">
                        <img src="../storage/img/star.png" alt="Star">
                        <label>5.0</label>
                    </div>
                </div>
            </article>
            <article class="article__contain">
                <a href="#"><img src="../storage/img/vestido-01.jpg"></a>
                <div class="div__info">
                    <strong>Blue King Dress</strong>
                    <p>Dress elegant</p>
                </div>
                <div class="div__value">
                    <strong>$162.99</strong>
                    <div class="div__score">
                        <img src="../storage/img/star.png" alt="Star">
                        <label>5.0</label>
                    </div>
                </div>
            </article>
            </article>
            <article class="article__contain">
                <a href="#"><img src="../storage/img/pantalon-m-01.jpg"></a>
                <div class="div__info">
                    <strong>Rose Pant</strong>
                    <p>Pant casual</p>
                </div>
                <div class="div__value">
                    <strong>$194.99</strong>
                    <div class="div__score">
                        <img src="../storage/img/star.png" alt="Star">
                        <label>5.0</label>
                    </div>
                </div>
            </article>
            <article class="article__contain">
                <a href="#"><img src="../storage/img/camisa-h-02.jpg"></a>
                <div class="div__info">
                    <strong>Rose Pant</strong>
                    <p>Pant casual</p>
                </div>
                <div class="div__value">
                    <strong>$194.99</strong>
                    <div class="div__score">
                        <img src="../storage/img/star.png" alt="Star">
                        <label>5.0</label>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div>
            <a href="#"><img src="../storage/img/home.png" alt="Home"></a>
            <a href="#"><img src="../storage/img/shopping-bag.png" alt="shopping-bag"></a>
            <a href="#"><img src="../storage/img/heart-nav.png" alt="Heart"></a>
            <a href="#"><img src="../storage/img/profile.png" alt="Profile"></a>
        </div>
    </footer>
</body>
</html>